@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 0px 40px 13px rgba(0, 0, 0, 1);
    gap: 0.5rem;
}

/* Top navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  color: white;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid rgb(27, 27, 27);
}

/* Admin controls */
.admin-controls {
  background: #b2b2b2;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.admin-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.display-user {
    margin-top: 1rem;
}

.users {
    gap: 1rem;
}

/* Buttons */
.dash-button {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3730a3;
}

.admin-controls h3 {
  margin-bottom: 10px;
}

/* Task list */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ffffff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Users list */
.users-list li {
  font-size: 14px;
  color: #333;
}