@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: "Inter", sans-serif;
}

button {
    border: 1px solid rgba(137, 137, 137, 0.692);
    border-radius: 2rem;
    padding: 0.75rem;
    background-color: #000000;
    color: aliceblue;
    cursor: pointer;
}

h2 {
    margin-bottom: 0.9rem;
    margin-left: 0.2rem;
}

input {
    border-radius: 1rem;
    border: 0.5px solid black;
    padding: 0.5rem;
    padding-left: 1.1rem;
}

select {
    appearance: none;
    padding: 0.5rem 0rem 0.5rem 1.1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M2 4l4 4 4-4' stroke='black' fill='none' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
}