* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(42, 42, 42);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}